@charset "UTF-8";
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.main {
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .main {
    max-width: 80rem;
    width: 100%;
  }
}
.btn {
  display: inline-block;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 11px;
  padding-bottom: 0.6875rem;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
}
.btn::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover::before {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover span {
  position: relative;
  z-index: 10;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn__mdify {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}
.overview__content--inner {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .overview__content--inner {
    position: relative;
  }
}
.overview__content--subTitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 0.69;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .overview__content--subTitle {
    font-size: 1.5625rem;
    letter-spacing: 0.03125rem;
    line-height: 1.5625;
    text-align: left;
  }
}
.overview__content--text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
  text-align: left;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 0 20px;
  padding: 0 1.25rem;
}
@media screen and (min-width: 768px) {
  .overview__content--text {
    letter-spacing: 0.03125rem;
    line-height: 2.1875;
    margin-bottom: 3.1875rem;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .overview__content-box--inner {
    padding-top: 7.4375rem;
    padding-right: 18.5rem;
    padding-bottom: 7.4375rem;
    padding-left: 5.625rem;
  }
}
@media screen and (min-width: 1440px) {
  .overview__content-box--inner {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .overview__content-box {
    width: 100%;
    height: 100%;
  }
}
.overview__content-img--img {
  background-image: url(/images/office@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.overview__content-img {
  display: block;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  position: relative;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .overview__content-img {
    max-width: 34.8125rem;
    width: 100%;
    height: 24.3125rem;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
.overview__content-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
}
.overview__content {
  width: 100%;
  height: 100%;
}
.overview__contents--inner {
  width: 100%;
  height: 100%;
  background-color: #333;
}
.overview__contents {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .overview__contents {
    max-width: 56rem;
    width: 100%;
    height: 34.375rem;
  }
}
.overview__inner {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .overview__inner {
    max-width: 74.375rem;
    width: 100%;
  }
}
.overview__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  position: relative;
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}
.overview__title::before {
  content: "Overview";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 400;
  color: #f9f871;
  opacity: 0.27;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.overview {
  display: none;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .overview {
    max-width: 80rem;
    width: 100%;
    height: 42.3125rem;
  }
}
.works__btn--mdify {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}
.works__content--inner {
  width: 100%;
  padding: 0 20px;
  padding: 0 1.25rem;
}
@media screen and (min-width: 768px) {
  .works__content--inner {
    width: 50%;
    margin-left: auto;
    position: relative;
  }
}
.works__content--text {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.448125;
  text-align: left;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.works__content--title {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
}
.works__content {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .works__contents--inner {
    display: inline-block;
    max-width: 56rem;
    width: 100%;
    height: 34.375rem;
    position: relative;
    background-color: #333;
  }
}
.works__contents {
  width: 100%;
  height: 100%;
}
.works__img--inner {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__img--inner {
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.works__img {
  max-width: 896px;
  max-width: 56rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .works__img {
    margin-left: auto;
  }
}
.works__inner {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
  padding-top: 49px;
  padding-top: 3.0625rem;
}
@media screen and (min-width: 768px) {
  .works__inner {
    display: inline-block;
    max-width: 80rem;
    width: 100%;
    position: relative;
    padding-left: 5.625rem;
  }
}
.works__title--inner {
  width: 100%;
  height: 100%;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  position: relative;
  text-align: center;
}
.works__title--inner::before {
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 400;
  content: "Works";
  display: block;
  color: #f9f871;
  opacity: 0.2;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}
.works__title {
  width: 100%;
}
.works {
  display: block;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .works {
    max-width: 80rem;
    width: 100%;
    height: 42.3125rem;
    text-align: right;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .swiper {
    max-width: 34.8125rem;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */
