@use "global" as *;
.swiper.works__mySwiper {
  width: rem(375);
  height: rem(261);
  // decoration
  overflow: hidden;
  // ajustment
  margin: 0 auto;

  @include mq(md) {
    width: rem(557);
    height: rem(389);
  }
  @include mq(xl) {
  }
}

.swiper-pagination-bullet {
  background-color: #f9f871;
  margin-right: rem(11);
}

.swiper-pagination-bullet:last-child {
  margin-right: rem(0);
}

.mySwiper__pagination {
  display: block;
  width: 100%;
}
