@use "global" as *;
.overview__img {
  display: block;
  max-width: rem(375);
  width: 100%;
  overflow: hidden;
  position: relative;
  @include mq(md) {
    max-width: rem(557);
    top: 50%;
    transform: translate(30%, -50%);
    width: 100%;
    position: absolute;
  }
  @include mq(xl) {
  }
}

.overview__img::before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
