@use "global" as *;
.overview__subTitle {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(20);
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.45;
  // decoration
  // space
  padding-top: rem(24);
  padding-bottom: rem(24);
  color: #fff;
  @include mq(md) {
    padding-bottom: rem(48);
  }
  @include mq(xl) {
  }
}
