@use "global" as *;
.overview__title {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(20);
  font-weight: $normal;
  color: #fff;
  // 位置調整
  position: relative;
  // space
  padding-top: rem(48);
  padding-bottom: rem(48);
  @include mq(md) {
    // font
  }
  @include mq(xl) {
  }
}

.overview__title::before {
  content: "Overview";
  display: block;
  // font
  font-family: "Noto Serif JP", serif;
  font-size: rem(50);
  font-weight: $normal;
  color: #f9f871;
  opacity: 0.27;
  // 位置調整
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
