@use "global" as *;
.overview__text {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(16);
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.4375;
  // decoration
  text-align: left;
  // space
  padding: 0 0 rem(16) 0;
  color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
