@use "global" as *;
.blog__content--inner {
  @include mq(md) {
    // size
    display: flex;
    justify-content: space-between;
    // space
    padding: rem(0) rem(90);
  }
  @include mq(xl) {
  }
}
