@use "global" as *;
.line__inner {
  // size
  display: inline-block;
  min-width: rem(375);
  width: 100%;
  height: rem(2613.36);
  // background-color: #333;
  @include mq(md) {
    // size
    max-width: rem(1280);
    width: 100%;
  }
  @include mq(xl) {
  }
}
