@use "global" as *;
.line__body {
  // size
  width: 100vw;
  height: 100vh;
  // decoration
  // background-color: #ff4500;
  // expression
  display: inline-block;
  // position
  position: relative;
  top: rem(0);

  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// 擬似要素(line__body:before)
.line__body::before {
  // content
  content: "";
  // decoration
  background: linear-gradient(
    62deg,
    transparent,
    transparent 49.99%,
    #f9f871 calc(49.99% + 1px),
    #f9f871 calc(49.99% + 1px),
    transparent 50.09%
  );
  // size
  width: 200%;
  height: 200%;
  // position
  position: absolute;
  // z-index: 5;
  top: rem(207);
  left: rem(0);
}

// 擬似要素(line__body:after)
.line__body::after {
  // content
  content: "";
  // decoration
  background: linear-gradient(
    104deg,
    transparent,
    transparent 49.99%,
    #f9f871 calc(49.99% + 1px),
    #f9f871 calc(49.99% + 1px),
    transparent 50.09%
  );
  // size
  width: 300%;
  height: 300%;
  // position
  position: absolute;
  // z-index: 5;
  top: rem(0);
  left: rem(-263);
}
