@use "global" as *;
.pagenation {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagenation li {
  display: inline-block;
}

.pagenation li a {
  color: #fff;
  float: left;
  padding: 2px 4px;
  text-decoration: none;
  border: solid 1px #fff;
}

.pagenation li a.active {
  background-color: #333;
  color: white;
}

.pagenation li a:hover {
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

// .pagenation li a:hover:not(.active) {
//   background-color: #fff;
//   color: #111;
// }
