@use "global" as *;
.works__contents--inner {
  @include mq(md) {
    // size
    display: inline-block;
    max-width: rem(896);
    width: 100%;
    height: rem(550);
    position: relative;
    // decoration
    background-color: #333;
  }
  @include mq(xl) {
  }
}
