@use "global" as *;
.works {
  // explain
  display: block;
  // size
  max-width: rem(375);
  width: 100%;
  height: 100%;
  // decoration
  background-color: #111;
  @include mq(md) {
    // size
    max-width: rem(1280);
    width: 100%;
  }
  @include mq(xl) {
  }
}
