@use "global" as *;
.works {
  // explain
  display: block;
  // size
  max-width: rem(375);
  width: 100%;
  height: 100%;
  @include mq(md) {
    // size
    max-width: rem(1280);
    width: 100%;
    height: rem(677);
    // ajustment
    text-align: right;
  }
  @include mq(xl) {
  }
}
