@use "global" as *;
.works__content--inner {
  // size
  width: 100%;
  // space
  padding: 0 rem(20);
  @include mq(md) {
    // size
    width: 50%;
    margin-left: auto;
    // ajusutment->.works__img/.works__content
    position: relative;
  }
  @include mq(xl) {
  }
}
