@use "global" as *;
.works__img--inner {
  // space
  padding-bottom: rem(24);
  // ajustment
  position: relative;
  @include mq(md) {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  @include mq(xl) {
  }
}
